<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    #intro{
        height: 400px;
        width: 300px;
        background-color: aquamarine;
    }
    .container{
        margin: 30px;
    }
</style>
<body>
    


    <div class="container">
  <div class="row">
    <div class="col-sm">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">ADD</a></li>

            
            {{#each tracks}}
            
            <li>
                <a href="/?id={{_id}}">{{title}}</a>
            </li>
            {{/each}}
        </ul>
      
      
    </div>
    
    <div class="col-sm">

    
          {{#if selectedTrack}}
                
            <h2>{{selectedTrack.title}}</h2>
            <h4>by {{selectedTrack.singer}}</h4>

            <img src="{{selectedTrack.image}}" alt="{{selectedTrack.singer}}"  height="200px">

            <audio src="{{selectedTrack.file}}" controls autoplay></audio>
          


      {{else}}
      <div id="intro">
          <h2>Welcome</h2>
          <p>This is my player <br> Welcome here </p>
      </div>
      {{/if}}
    </div>
    
  </div>
</div>

</body>
</html>